a {
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20pt;
    font-weight: 600;

    font-family: impact;
    letter-spacing: 1.2px;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}
