body {
    padding-top: 2%;

    background: #888 url('http://www.chabare.de/img/background.png') center center;
}

.category {
    margin-left: 25%;
    width: 50%;
}

.row {
    margin-top: 60px;
}

.container {
    margin-left: 0%;
    width: 100%;
    height: 100%;
}

.col-md-4 {
    margin-left: 0%;
    padding: 10px;

    /* background-color: #dddddd;
    border: 1px solid #666666; */
}
